{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}

    <div class="row row cols-1">
        <div class="col">
            <a href="{% url 'categories' %}" class="btn btn-link">Back to Categories</a>
        </div>
    </div>

    {% if products %}
        <div class="row row-cols-4">
            <div class="col">Name</div>
            <div class="col">Price</div>
            <div class="col">Description</div>
        </div>
        <hr>
    {% endif %}

    {% for product in products %}
        <div class="row row-cols-4">
            <div class="col">{{ product.name }}</div>
            <div class="col">{{ product.price }}</div>
            <div class="col">{{ product.description }}</div>
            <div class="col">
                <a href="{% url 'product_details' product.id %}" class="btn btn-link">View</a>
            </div>
        </div>
    {% empty %}
        <h3>No products in the category</h3>
    {% endfor %}

{% endblock %}